:root {
  --dark-green: hsl(183, 100%, 15%);
  --green: hsl(172, 67%, 45%);
  --light-green: hsl(185, 41%, 84%);
  --grey: hsl(203, 50%, 97%);
  --dark-grayish-green: hsl(177, 18%, 40%);
  --red: hsl(12, 62%, 61%);
  font-size: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.btn,
input {
  --rounded: 0.25em;
}

.calculator {
  --spacer: 1.5rem;
  --rounded: 1em;
}
.calculator__result {
  --rounded: 0.6em;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--light-green);
  line-height: 1;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0;
}

.spacing > * + * {
  margin-top: var(--spacer, 1rem);
}

.squishy-text {
  word-break: break-word;
  /* Samsung browser */
  word-wrap: break-word;
  /* IE 11 */
  overflow-wrap: anywhere;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5em 2em;
  border: none;
  outline: none;
  background-color: var(--dark-green);
  color: #fff;
  border-radius: var(--rounded);
}
.btn:hover, .btn:focus {
  background-color: var(--green);
  color: var(--dark-green);
}
.btn--green {
  background-color: var(--green);
  color: var(--dark-green);
}
.btn--ghost {
  cursor: default;
  opacity: 0.4;
}
.btn--ghost:hover, .btn--ghost:focus {
  mix-blend-mode: color-dodge;
}

input {
  border-radius: var(--rounded);
  padding: 0.5em;
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--grey);
  color: var(--dark-green);
  font-weight: 700;
  text-align: right;
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: 0.5rem center;
}
input::placeholder {
  color: var(--dark-green);
  opacity: 0.5;
}
input:hover, input:focus {
  box-shadow: 0 0 0 0.1em var(--green);
}

label {
  display: block;
  margin: 0.5em 0;
  font-weight: 700;
  font-size: 0.7rem;
  color: var(--dark-grayish-green);
}
@media (min-width: 900px) {
  label {
    font-size: 0.6rem;
    margin: 0.5rem 0;
  }
}

.input--error {
  box-shadow: 0 0 0 0.1em var(--red);
}
.input--error:hover, .input--error:focus {
  box-shadow: 0 0 0 0.1em var(--red);
}
.input--active {
  box-shadow: 0 0 0 0.1em var(--green);
}

.people-error {
  display: inline;
  text-align: right;
  float: right;
  color: var(--red);
}

.logo {
  margin: 2em auto 0;
}
@media (min-width: 900px) {
  .logo {
    margin: 3em auto 0;
  }
}

.calculator {
  border-radius: var(--rounded);
  background-color: #fff;
  padding: 1rem;
  margin-top: 1.5em;
}
@media (min-width: 600px) {
  .calculator {
    width: 85%;
    max-width: 30rem;
    margin: 3em auto;
  }
}
@media (min-width: 900px) {
  .calculator {
    display: flex;
    gap: 1em;
  }
  .calculator > * {
    width: 100%;
  }
  .calculator .btn,
.calculator input {
    font-size: 0.9rem;
  }
  .calculator__form {
    padding: 0.5em;
  }
}

.input--bill {
  background-image: url(../images/icon-dollar.svg);
}

.input--people {
  background-image: url(../images/icon-person.svg);
}

.grid-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
}
@media (min-width: 900px) {
  .grid-buttons {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50%;
  }
  .grid-buttons .btn {
    padding: 0;
  }
}

.calculator__result {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr 1fr min-content;
  justify-content: space-between;
  gap: 1em;
  border-radius: var(--rounded);
  padding: 1.5em 1em;
  background-color: var(--dark-green);
  color: var(--green);
  font-weight: 700;
}
.calculator__result p {
  font-size: 1.3rem;
}
.calculator__result .p-tip-amount,
.calculator__result .p-total {
  font-size: 0.8rem;
  color: #fff;
}
.calculator__result .p-tip-amount span,
.calculator__result .p-total span {
  opacity: 0.7;
  font-size: 0.6rem;
  font-weight: 400;
}
.calculator__result .btn {
  width: 100%;
  grid-column: 1/3;
}
@media (min-width: 900px) {
  .calculator__result {
    margin: 0;
  }
}

/*# sourceMappingURL=main.css.map */
